<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-logo">
    <img src="assets/img/user.png" alt="Ionic Logo" />
  </div>

  <ion-item-divider>
    <ion-label> Template Driven Form </ion-label>
  </ion-item-divider>

  <form #signupForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input
          [(ngModel)]="signup.username"
          placeholder="Username goes here"
          name="username"
          type="text"
          #username="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="username.valid || submitted == false"
          class="ion-padding-start"
        >
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
          [(ngModel)]="signup.email"
          placeholder="Email goes here"
          name="email"
          type="email"
          #email="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="email.valid || submitted == false"
          class="ion-padding-start"
        >
          Email is invalid
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input
          (ionInput)="passwordChange(signupForm)"
          [(ngModel)]="signup.password"
          placeholder="Password goes here"
          name="password"
          type="password"
          #password="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="password.valid || submitted == false"
          class="ion-padding-start"
        >
          Password is required
        </p>
      </ion-text>
      <ion-item *ngIf="change">
        <ion-chip [color]="label">
          <ion-label>{{ strength }}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item *ngIf="change"
        ><ion-progress-bar [value]="strengthValue"></ion-progress-bar
      ></ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block"
        >Sign Up!</ion-button
      >
      <br />
      <ion-button (click)="routeToLogin()" color="dark" expand="block"
        >Already Have An Account?</ion-button
      >
    </div>
  </form>

  <ion-item-divider>
    <ion-label> Reactive Form </ion-label>
  </ion-item-divider>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.name.errors?.required"
    >
      Name is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.name.errors?.minlength"
    >
      Name should be min 2 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.email.errors?.required"
    >
      Email is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.email.errors?.pattern"
    >
      Please provide valid email id.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-datetime
        (ionChange)="getDate($event)"
        formControlName="dob"
        [value]="defaultDate"
      ></ion-datetime>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input
        maxlength="10"
        formControlName="mobile"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.mobile.errors?.required"
    >
      Mobile number is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.mobile.errors?.pattern"
    >
      Only numerical values allowed.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
